html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.user-name {
    font-size: 26px; /* بزرگ‌تر */
    color: #2ecc71; /* سبز شیک */
    font-weight: 600;
}

.user-bio {
    margin-top: 12px; /* بیو پایین‌تر */
    line-height: 1.8;
}
.photo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    border: 3px solid #2ecc71; /* سبز هماهنگ با یوزرنیم */
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}