<div id="about" class="page pt-about" data-simplebar>
    <section class="container">

        <!-- Section Title -->
        <div class="header-page mt-70 mob-mt">
            <h2>درباره من</h2>
            <span></span>
        </div>

        <!-- Personal Info Start -->
        <div class="row mt-100">

            <!-- Information Block -->
            <div class="col-lg-12 col-sm-12">
                <div class="info box-1">
                    <div class="row">
                        <div class="col-lg-3 col-sm-4">
                            <div class="photo">
                                <img alt="" src="img/user-photo.jpg">
                            </div>
                        </div>
                        <div class="col-lg-9 col-sm-8">
                            <h4>جان اسنو</h4>
                            <div class="loc">
                                <i class="fas fa-map-marked-alt"></i> تبریز، ایران
                            </div>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه
                            </p>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان
                            </p>
                        </div>

                        <!-- Icon Info -->
                        <div class="col-lg-3 col-sm-4">
                            <div class="info-icon">
                                <i class="fas fa-award"></i>
                                <div class="desc-icon">
                                    <h6>8 سال کار</h6>
                                    <p>تجربه</p>
                                </div>
                            </div>
                        </div>

                        <!-- Icon Info -->
                        <div class="col-lg-3 col-sm-4">
                            <div class="info-icon">
                                <i class="fas fa-certificate"></i>
                                <div class="desc-icon">
                                    <h6>500+ پروژه</h6>
                                    <p>اتمام یافته</p>
                                </div>
                            </div>
                        </div>

                        <!-- Icon Info -->
                        <div class="col-lg-3 col-sm-4">
                            <div class="info-icon">
                                <i class="fas fa-user-astronaut"></i>
                                <div class="desc-icon">
                                    <h6>فریلنس</h6>
                                    <p>آماده</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12 pt-50">
                            <a href="#" class="btn-st">دریافت رزومه</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Service Row Start -->
        <div class="row mt-100">

            <!-- Header Block -->
            <div class="col-md-12">
                <div class="header-box mb-50">
                    <h3>خدمات</h3>
                </div>
            </div>

            <!-- Service Item -->
            <div class="col-lg-6 col-sm-6">
                <div class="service box-1 mb-40">
                    <i class="fas fa-desktop"></i>
                    <h4>طراحی وب</h4>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها</p>
                </div>
            </div>

            <!-- Service Item -->
            <div class="col-lg-6 col-sm-6">
                <div class="service box-1 mb-40">
                    <i class="fas fa-cogs"></i>
                    <h4>توسعه وب</h4>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها</p>
                </div>
            </div>

            <!-- Service Item -->
            <div class="col-lg-6 col-sm-6">
                <div class="service box-1 mb-40">
                    <i class="fas fa-mobile-alt"></i>
                    <h4>طراحی واکنشگرا</h4>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها</p>
                </div>
            </div>

            <!-- Service Item -->
            <div class="col-lg-6 col-sm-6">
                <div class="service box-1 mb-40">
                    <i class="fas fa-medkit"></i>
                    <h4>پشتیبانی سریع</h4>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها</p>
                </div>
            </div>
        </div>

        <!-- Testimonial Row Start -->
        <div class="row testimonial mt-60">

            <!-- Header Block -->
            <div class="col-md-12">
                <div class="header-box mb-50">
                    <h3>دیدگاه مشتریان</h3>
                </div>
            </div>

            <div class="owl-carousel owl-theme">

                <!-- Testimonail Item -->
                <div class="testimonial-item">
                    <div class="media">
                        <img src="/img/testimonials/testimonial-1.jpg" alt="">
                        <div class="content">
                            <h4>تونی استارک</h4>
                            <p>توسعه وب</p>
                        </div>
                        <ul class="rating">
                            <li><i class="far fa-star"></i></li>
                            <li><i class="far fa-star"></i></li>
                            <li><i class="far fa-star"></i></li>
                            <li><i class="far fa-star"></i></li>
                            <li><i class="far fa-star"></i></li>
                        </ul>
                    </div>
                    <div class="comment pt-30">
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای
                        </p>
                    </div>
                </div>

                <!-- Testimonail Item -->
                <div class="testimonial-item">
                    <div class="media">
                        <img src="/img/testimonials/testimonial-2.jpg" alt="">
                        <div class="content">
                            <h4>استیو راجرز</h4>
                            <p>طراح رابط کاربری</p>
                        </div>
                        <ul class="rating">
                            <li><i class="far fa-star"></i></li>
                            <li><i class="far fa-star"></i></li>
                            <li><i class="far fa-star"></i></li>
                            <li><i class="far fa-star"></i></li>
                            <li><i class="far fa-star-half"></i></li>
                        </ul>
                    </div>
                    <div class="comment pt-30">
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای
                        </p>
                    </div>
                </div>

                <!-- Testimonail Item -->
                <div class="testimonial-item">
                    <div class="media">
                        <img src="/img/testimonials/testimonial-3.jpg" alt="">
                        <div class="content">
                            <h4>اولیور کویین</h4>
                            <p>طراح رابط کاربری</p>
                        </div>
                        <ul class="rating">
                            <li><i class="far fa-star"></i></li>
                            <li><i class="far fa-star"></i></li>
                            <li><i class="far fa-star"></i></li>
                            <li><i class="far fa-star"></i></li>
                        </ul>
                    </div>
                    <div class="comment pt-30">
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
