@using Microsoft.AspNetCore.Mvc.TagHelpers
@using My_site.Core.ViewModels.ContactViewModel
@using Newtonsoft.Json
@model My_site.Core.ViewModels.ContactViewModel.ContactVM

@{
    var contactModel = TempData["ContactModel"] != null ? JsonConvert.DeserializeObject<ContactVM>(TempData["ContactModel"].ToString()) : null;
}

<div id="contact" class="page pt-contact" data-simplebar>
    <section class="container">
        <div class="header-page mt-70 mob-mt">
            <h2>تماس</h2>
            <span></span>
        </div>

        <div class="row mt-100">
            <div class="col-lg-12 col-sm-12">
                <div class="contact-form">
                    <form asp-action="_ContactPartial"
                          asp-controller="Home"
                          method="post"
                          class="box-1">

                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <input asp-for="Name"
                                       class="form-control"
                                       placeholder="نام *"
                                       value="@contactModel?.Name" />
                                <span asp-validation-for="Name"></span>
                            </div>

                            <div class="col-lg-6 col-sm-12 mt-3 mt-lg-0">
                                <input asp-for="Phone"
                                       class="form-control"
                                       placeholder="شماره تلفن *"
                                       dir="ltr"
                                       value="@contactModel?.Phone" />
                                <span asp-validation-for="Phone"></span>
                            </div>

                            <div class="col-lg-12 col-sm-12">
                                <textarea asp-for="Message"
                                          class="form-control"
                                          placeholder="پیام شما">@contactModel?.Message</textarea>
                                <span asp-validation-for="Message"></span>
                            </div>

                            <div class="col-lg-12 col-sm-12 text-center">
                                <button type="submit" class="btn-st">
                                    ارسال پیام
                                </button>
                            </div>

                            <div class="col-lg-12 col-sm-12">
                                @if (TempData["Success"] != null)
                                {
                                    <div id="success">
                                        <i class="far fa-check-circle"></i>
                                        @TempData["Success"]
                                    </div>
                                }
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
