<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@ViewData["Title"]</title>
    <partial name="_PartialAdminCss" />
</head>

<body class="hold-transition sidebar-mini">

<div class="wrapper">
        <partial name="_PartialAdminNavbar" />

    <partial name="_PartialAdminSidebar"/>

    @RenderBody()

    <footer class="main-footer text-left"></footer>

</div>
    <partial name="_PartialAdminJs" />
</body>

</html>